*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    width: 650px;
    margin: 0 auto;
}

.rectangle{
    width: 600px;
    height: 80px;
}

.text-1{
   font-size: 22px;
    text-align: left;
    font-weight: 900px;
    margin-top: 70px;
    margin-bottom: 30px;
}

.text2{
    font-size: 10px;
    font-weight: 800;
    margin-bottom: 50px;
}

.text4{
    font-size: 13px;
    font-weight: 700;
}

.text5{
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
}
.text6{
    font-size: 7px;
}
.container-2{
    display: flex;
    gap: 20px;
}

.container3{
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 4px;
    width: 580px;
}

#gmail{
    border-radius: 3px;
    padding: 3px;
    border: 1px solid gainsboro;
}

.button-1{
    color: white;
    width: 80px;
    border-radius: 3px;
    padding: 4px;
    background-color: blueviolet;
}

.img{
    width: 170px;
}

.img-1{
    padding-top: 20px;
    width: 200px;
}

.img-container{
   display: flex;
   justify-content: space-between;
}

.img-container3{
    height: 110px;
    background-color: rgb(244, 242, 240);
    border-radius: 6px;
    width: 70px;
    
}

.img2{
    width: 10px;
    position: absolute;
    top: 160px;
    left: 30px;
    z-index: -1;
}


.img4{
    width: 110px;
    position: absolute;
    bottom: 205px;
    right: -1px;
    z-index: -1;
    
}


.img3{
    width: 150px;
    position: absolute;
    z-index: -1;
}
.container-1{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
}

.img-container1{
    position: relative;
}

.img-container2{

    position: relative;
    top: 100px;
    right: 30px;
}
.vector{
    width: 20px;
    height: 20px;
    margin-bottom:  10px;
    margin-top: 30px;
}